# ignore everything
*

# unignore .gitignore
!.gitignore

# unignore directories
!*/

# unignore source files in directories ( examples & extensions )
!**/*Memory.hpp
!**/*Memory.cpp

# unignore source file
!exMemory.hpp
!README.md